/* :root
## color
### Primary
- Dark cyan: hsl(158, 36%, 37%)
- Cream:     hsl(30, 38%, 92%)

### Neutral
/* - Very dark blue:    hsl(212, 21%, 14%)
- Dark grayish blue: hsl(228, 12%, 48%)
- White:             hsl(0, 0%, 100%) */

/* ## Font-size
- Font-size (paragraph): 14px

## Font-style
- Family: [Montserrat](https://fonts.google.com/specimen/Montserrat)
- Weights: 500, 700

- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700
<!-----------------------------------> */ 


body{
    min-height: 100vh;
    background: hsl(30, 38%, 92%);
    width: 650px;
    display: grid;
    place-content: center;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(0, 0%, 100%);
    border-radius: 15px;
}
button{
    background: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border-style: none;
    padding: 15px 80px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
} 

.perfume-img{
    width: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.right-site{
    padding: 10px 30px;
    width: 550px;
}
.right-site p{
    color: hsl(228, 12%, 48%);
    font-size: 500;
}

