@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}
h1, .price{
    font-family: "Fraunces", sans-serif;
}
.attribution{
    font-size: 14px;
    text-align: center;
}
.attribution a{
    color: hsl(228, 45%, 44%);
}