.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
   
    
}
body{
    min-height: 100vh;
    background: rgba(235, 248, 252, 0.625);
    Font-size: 13px;
    font-family: 'Manrope', sans-serif;
    width: 350px;
    align-items: center;
    margin: 0 auto;
}
ul{
    list-style: none;
}
h2, #name{
    color: hsl(217, 19%, 35%);
    font-weight: 700;
}
p, li{
    color: hsl(212, 23%, 69%);
    font-weight: 500;
}
.drawers-img{
    max-width: 100%;
}
.container{
    background-color: white;
    padding: 30px 20px;
}
.container p{
    margin: 5px 0
    ;
}

/* head care */
.head-card{
    display: flex;
}
.head-img{
    border-radius: 50%;
    width: 50px;
}

.share-icon{
 width: 18px;
 height: 20px;  
 background: hsl(214, 17%, 51%); 
 border-radius: 50%;
 /* 
 Q:
 padding 是往內推，造成箭頭空間壓縮甚至壓到看不見。
 該怎麼把箭頭懸浮在背景上面，互不影響？
 */
}
.share-dtl{
    background: hsl(217, 19%, 35%);
    display: flex;
    justify-content: space-around;
    padding: 20px;
    
}
.share-dtl p{
    
}